@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  overflow-x: hidden;
  padding-top: 8vh;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

section {
  width: 100%;
}

header {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--my_green)), color-stop(rgb(219, 197, 197)), to(var(--my_pink)));
  background-image: linear-gradient(to right, var(--my_green), rgb(219, 197, 197), var(--my_pink));
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  height: 90vh;
  background-image: url(../img/Mount.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.balloon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero_box h1 {
  font-size: 20px;
  text-align: center;
  opacity: 0;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.hero_box p {
  margin: 10px;
  opacity: 0;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.hero_box {
  width: 250px;
  height: 240px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.54);
  border: 1px solid black;
  position: absolute;
  top: 10%;
  left: 10%;
  color: var(--my_green);
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

:root {
  --my_green: rgb(150, 219, 201);
  --my_pink: rgb(255, 192, 203);
  --turns-slow: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Castoro Titling", cursive;
  background-color: var(--my_green);
  overflow-x: hidden;
}

section {
  width: 100vw;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}

.go {
  height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
@media screen and (max-width: 500px) {
  .go {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 1000px;
  }
}

.go p {
  color: var(--my_green);
  font-size: 12px;
  text-align: center;
}

.go li {
  width: 110px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media screen and (max-width: 500px) {
  .go li {
    width: 150px;
  }
}

.circle {
  width: 60px;
  height: 60px;
  background-color: var(--my_green);
  border-radius: 50%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.go svg {
  width: 50px;
  height: 50px;
  fill: white;
}

.hole {
  width: 15px;
  height: 15px;
  background-color: var(--my_green);
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.backdrop {
  visibility: visible;
  pointer-events: initial;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.812);
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.svg__x {
  pointer-events: none;
  width: 40px;
  height: 40px;
  stroke: black;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.x:hover .svg__x {
  scale: 1.5;
  stroke: var(--my_green);
  background-color: white;
  border-radius: 20px;
}

.modal__box {
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project_experience {
  background-color: black;
  padding: 5% 10%;
}

.project_experience h2 {
  color: white;
  margin-bottom: 40px;
}

.project_experience p {
  color: white;
  text-align: center;
  margin: 30px 0;
}

.image__block {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .image__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 500px;
  }
}

.image__block > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.learn__more__btn {
  padding: 10px;
  display: block;
  margin: auto;
  border: 2px solid rgb(133, 223, 211);
  color: rgb(133, 223, 211);
  border-radius: 20px;
  background-color: transparent;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.learn__more__btn:hover {
  background-color: rgb(133, 223, 211);
  color: black;
}

.more {
  background-color: transparent;
  border: 3px solid var(--my_pink);
  border-radius: 20px;
  width: 130px;
  height: 30px;
  color: var(--my_pink);
  font-size: 17px;
  margin-top: 10px;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.more:hover {
  width: 200px;
  background-color: var(--my_pink);
  color: white;
}

.more:hover .destinations__cards li {
  background-color: red;
}

.destinations {
  background-color: var(--my_pink);
  text-align: center;
}

.destinations,
.destinations > p {
  padding: 30px;
}

.destinations__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .destinations__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.destinations__cards li {
  position: relative;
  width: 250px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.destinations__cards h3 {
  margin: 15px 0;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
}

.destinations__cards img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin: 0;
  pointer-events: none;
}

#ok {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: 90px;
  opacity: 0;
}

.chosen,
.destinations__cards li:hover {
  -webkit-box-shadow: 3px 3px 3px;
          box-shadow: 3px 3px 3px;
}

.chosen #ok {
  opacity: 1;
}

.chosen .more {
  width: 200px;
  background-color: var(--my_pink);
  color: white;
}

.ocean {
  height: 500px;
  background-image: url(../img/boat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  position: relative;
}

.ocean h2 {
  border: 1px solid red;
  position: absolute;
  width: 60%;
  bottom: 0;
  height: 30%;
  text-align: right;
}

.ocean p {
  border: 1px solid rgb(47, 0, 255);
  padding: 0 2%;
  position: absolute;
  width: 40%;
  height: 30%;
  bottom: 0;
  right: 0;
}

.best {
  background-color: black;
  padding: 20px 0;
  text-align: center;
}

.best h2 {
  color: white;
}

.best p {
  margin: 20px 0;
  color: var(--my_green);
}

.best__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 350px;
}
@media screen and (max-width: 767px) {
  .best__box {
    width: 350px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.best__box li {
  margin: 10px;
  width: 140px;
  height: 140px;
  background-color: var(--my_green);
  border-radius: 20px;
  padding: 10px;
}

.best__box p {
  color: black;
}

.best__box p:first-child {
  font-size: 30px;
  color: white;
}

.mountains {
  background-color: white;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .mountains {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mon__img__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .mon__img__box {
    margin-bottom: 15px;
  }
}

.mon__img__box li {
  height: 350px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mon__img__box li:nth-child(1) {
  background-color: aqua;
  background-image: url(../img/mo1.jpg);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mon__img__box li:nth-child(2) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: royalblue;
  background-image: url(../img/mo2.png);
}

.moun__box {
  background-color: rgba(0, 0, 0, 0.468);
  color: white;
  width: 100%;
  height: 175px;
  padding: 10px;
}

.moun__box p {
  margin: 15px 5px;
}

.moun__box p:nth-child(1) {
  font-size: 15px;
  color: aqua;
}

.moun__box p:nth-child(2) {
  font-size: 12px;
}

.mountains > div {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  margin: 0;
}

.mountains > div p:nth-child(1) {
  font-weight: bold;
}

.mountains > div,
.mon__img__box {
  width: 350px;
  height: 350px;
}

.about__agency {
  background-color: white;
  padding: 10px 0;
}

.about__agency > div {
  width: 300px;
  height: 300px;
  background-image: url(../img/a.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: 30px auto;
  display: block;
  position: relative;
  text-align: center;
}

.a__overlay {
  padding: 10px;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.403);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 20px;
}

.where {
  padding: 10px;
  background-color: white;
}

.where__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .where__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.where__box li {
  overflow: hidden;
  position: relative;
  margin: 10px 0;
  padding-top: 50px;
  width: 200px;
  height: 350px;
  background-size: cover;
}

.where__box li:nth-child(1) {
  background-image: url(../img/w1.jpg);
}

.where__box li:nth-child(2) {
  background-image: url(../img/w2.jpg);
}

.where__box li:nth-child(3) {
  background-image: url(../img/w3.jpg);
}

.where__box button {
  background-color: rgba(0, 0, 0, 0.442);
  border: 3px solid var(--my_green);
  color: var(--my_green);
  border-radius: 20px;
  width: 90px;
  height: 60px;
  display: block;
  margin: 0 auto;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.where__box button:hover {
  background-color: var(--my_green);
  width: 130px;
  color: white;
}

.w__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.where__box li:hover .w__overlay {
  top: 100%;
}

.f__svg {
  pointer-events: none;
}

.check__it {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.arrow {
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.check__it:hover .arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.check__it p {
  display: block;
}

.f__box {
  background-image: url(../img/modalF.jpg);
}

.f__btn {
  background-color: transparent;
  border: 3px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
  position: relative;
  overflow: hidden;
}

.f__btn svg {
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

.yes {
  font-weight: bold;
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.f__btn:hover {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.534);
  border: 3px solid white;
}

.f__btn:hover .f__svg {
  fill: white;
}

.f__btn:hover .yes {
  color: white;
}

.modal__text {
  background-color: rgba(255, 255, 255, 0.362);
  padding: 10px;
  border-radius: 20px;
}

.s__box {
  background-image: url(../img/modalS.jpg);
}

.m__box {
  background-image: url(../img/modalM.jpg);
}

.choice {
  height: 800px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/sea.jpg);
  background-size: cover;
}

.choice__box {
  background-color: white;
  padding: 20px;
  width: 350px;
  height: 450px;
  border: 3px solid var(--my_green);
  border-radius: 20px;
}

.choice__box p {
  margin: 5px;
}

#to,
#to-way {
  border-bottom: 5px dotted black;
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 15px;
}

#to {
  margin-left: auto;
  background-color: var(--my_green);
}

#to-way {
  background-color: var(--my_pink);
}

form {
  margin: 15px 0;
}

input {
  display: block;
  margin: 10px auto;
  border: 3px solid black;
  padding-left: 25px;
  border-radius: 20px;
}

.submit {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid var(--my_green);
  color: var(--my_green);
  display: block;
  margin: 20px auto;
  -webkit-transition: var(--turns-slow);
  transition: var(--turns-slow);
}

#submit:hover {
  background-color: var(--my_green);
  color: white;
}

.call__bac {
  width: 300px;
  height: 400px;
  padding: 60px 30px;
}

#call__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call__bac p {
  line-height: 1.5;
  color: var(--my_pink);
  font-size: 25px;
}/*# sourceMappingURL=main.css.map */