.best {
  background-color: black;
  padding: 20px 0;
  text-align: center;
}
.best h2 {
  color: white;
}
.best p {
  margin: 20px 0;
  color: var(--my_green);
}
.best__box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  height: 350px;
  @media screen and (max-width: 767px) {
    width: 350px;
    flex-wrap: wrap;
  }
}
.best__box li {
  margin: 10px;
  width: 140px;
  height: 140px;
  background-color: var(--my_green);
  border-radius: 20px;
  padding: 10px;
}
.best__box p {
  color: black;
}
.best__box p:first-child {
  font-size: 30px;
  color: white;
}
