.learn__more__btn {
  padding: 10px;
  display: block;
  margin: auto;
  border: 2px solid rgb(133, 223, 211);
  color: rgb(133, 223, 211);
  border-radius: 20px;
  background-color: transparent;
  transition: var(--turns-slow);
}
.learn__more__btn:hover {
  background-color: rgb(133, 223, 211);
  color: black;
}
//////////////////
.more {
  background-color: transparent;
  border: 3px solid var(--my_pink);
  border-radius: 20px;
  width: 130px;
  height: 30px;
  color: var(--my_pink);
  font-size: 17px;
  margin-top: 10px;
  transition: var(--turns-slow);
}
.more:hover {
  width: 200px;
  background-color: var(--my_pink);
  color: white;
}
.more:hover .destinations__cards li {
  background-color: red;
}
