.destinations {
  background-color: var(--my_pink);
  text-align: center;
}
.destinations,
.destinations > p {
  padding: 30px;
}
.destinations__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.destinations__cards li {
  position: relative;
  width: 250px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: var(--turns-slow);
}

.destinations__cards h3 {
  margin: 15px 0;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
}
.destinations__cards img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin: 0;
  pointer-events: none;
}
#ok {
  position: absolute;
  object-fit: contain;
  width: 90px;
  opacity: 0;
}
.chosen,
.destinations__cards li:hover {
  box-shadow: 3px 3px 3px;
}
.chosen #ok {
  opacity: 1;
}
.chosen .more {
  width: 200px;
  background-color: var(--my_pink);
  color: white;
}
