.learn__more__modal {
  visibility: visible;
  pointer-events: initial;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.812);
  transition: var(--turns-slow);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.svg__x {
  width: 40px;
  height: 40px;
  stroke: black;
  transition: var(--turns-slow);
}
.x:hover .svg__x {
  scale: (1.5);
  stroke: var(--my_green);
}
.modal__box {
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}
